
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --icons-thickness: 10%;
    --icons-round: round;
}
svg.icon {
    stroke-width: var(--icons-thickness);
    display: block;
    stroke-linecap: var(--icons-round);
    stroke-linejoin: var(--icons-round);
    font-size: 1em;
    line-height: 1;
    overflow: visible;
}
svg.fill {
    stroke: none;
    fill: inherit;
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      @apply appearance-none;
    }
}